<!-- <p>auth works!</p>
<form #login="ngForm">
    
  
    <div class="form-group">
      <label for="uname"><b>LoginId</b></label>
      <input type="text" class="form-control" placeholder="Enter LoginId" name="uname" required ngModel>
     </div>
     <div class="form-group">
      <label for="psw"><b>Password</b></label>
      <input type="password" class="form-control" placeholder="Enter Password" name="psw" required ngModel><br>
      {{message}}
     </div>
      <div>
      <button type="submit" (click)="chkclick2(login.value)"  class="btn btn-primary"> Login</button>
    </div>
    <div>
      <label>
      
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    
  </form> -->
  






  <form #login="ngForm">
    
    <header>
      
    <body>
      
      
      <div>
      <img src="../assets/images/neew.jpg" style="width:100%">
    </div>
    </body>
  
    
    <div class = "center">
      <h1>Login</h1>
  
    <div class="container">
      <input type="text"  name="uname" required ngModel>
      <span></span>
      <label for="uname"><b>LoginId</b></label>
      
    </div>
  
      <div class="container">
      <input type="password"  name="psw" required ngModel>
      <span></span>
      <label for="psw"><b>Password</b></label>
      
      </div> <div style="color:red"> {{message}}</div>
      <label>
        <br> <input type="checkbox" checked="checked" name="remember"> Remember me
       </label>
  
      <div class="pass">
        <br>
      <button type="submit" (click)="chkclick2(login.value)" >Login</button>
      <br>
      <!-- <label>
       <br> <input type="checkbox" checked="checked" name="remember"> Remember me
      </label> -->
  
    
  </div>
  </div>
    <!-- <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div> -->
  </header>
  </form>
    

