

<!-- 
<div >

    source:{{empdetail.source}}<br><br>
    destination:{{empdetail.destination}}<br><br>
    userid:{{usrname}}<br><br>
    travel date:{{empdetail.travelDate.split("T")[0]}} {{empdetail.travelDate.split("T")[1]}}<br><br>
    travel mode:{{empdetail.travelMode}}<br><br>
    status :{{empdetail.currentStatus}}<br><br>
    <button (click)="chkdelete()">Delete</button>

    
        <button (click)="route()">Back to list</button>
    
</div> -->



<!-- 
<div class="card w-50 ">
    <h5 class="card-header">Are You Sure You Want To Delete?</h5>
    <div class="card-body">
      
      <p class="card-text">source:{{empdetail.source}}</p>
      <p class="card-text">destination:{{empdetail.destination}}</p>
      <p class="card-text">userid:{{usrname}}</p>
      <p class="card-text">travel date:{{empdetail.travelDate.split("T")[0]}} {{empdetail.travelDate.split("T")[1]}}</p>
      <p class="card-text">travel mode:{{empdetail.travelMode}}</p>
      <p class="card-text">status :{{empdetail.currentStatus}}</p>
      <button type="button" class="btn btn-outline-danger"(click)="chkdelete()">Delete</button>
      
      
      <button type="button" class="btn btn-outline-primary" (click)="route()">Back to list</button>
    </div>
  </div> -->





  
  <header>
    <link 
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
      rel="stylesheet"  type='text/css'>
      <div class="new">
    <br>
 
    
    
    <h2>Are You Sure You Want To Delete The Request ?</h2>
    <br>
        <br>
        <div class="card">
    <div >
        
    <br>
        SOURCE : {{empdetail.source}}<br><br>
        DESTINATION : {{empdetail.destination}}<br><br>
        USER ID : {{empdetail.userId}}<br><br>
        DATE OF TRAVEL : {{empdetail.travelDate.split("T")[0]}} AT {{empdetail.travelDate.split("T")[1]}}<br><br>
        MODE OF TRAVEL : {{empdetail.travelMode}}<br><br>
        STATUS : {{empdetail.currentStatus}}<br><br>
        <button style="cursor: pointer;" class="btn" (click)="chkdelete()"><i class="fa fa-trash fa-2x"></i></button>
      
    </div>
    </div>
    <br>
    <br>
    <br>
    
    <div>
        <nav>
            <a style="cursor: pointer;" (click)="route()">Back To List</a>
        </nav>
    </div>
    </div>
