
<header>
    <link 
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
      rel="stylesheet"  type='text/css'>
      <div class="new">
    <br>
    <h2>Modify Request</h2>
    <br>
        <br>
        <div class="card">
    <div >
<form #edit="ngForm">
    UserId:  {{empdetail.userId}}<br><br>
    LoginId: {{empdetail.loginId}}<br><br>
    Name:  <input name="Name"  [(ngModel)]="empdetail.name"><br><br>
    <label>UserType</label><select id="sel" [(ngModel)]="ngSelect"  name="sel" >
        <option name="EMPLOYEE" value="EMPLOYEE" >EMPLOYEE</option>
        <option name="MANAGER" value="MANAGER">MANAGER</option>
        <option name="TRAVEL_AGENT" value="TRAVEL_AGENT">TRAVEL_AGENT</option>



    </select><br><br>
    Current Manager:  {{mgr}}<br><br>




    Manager UserId:  <select ngModel name="manid">
        <option *ngFor="let f of role" value={{f}} >{{f}}</option>
            
    </select><br>
    <br><br><button class="btn btn-primary" (click)="updateclick(edit.value)">Update</button>

</form>

<!-- <label>UserType</label><select id="sel" ngModel name="sel" ></select> -->









<!-- 
<header>
    <link 
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
      rel="stylesheet"  type='text/css'>
      <div class="new">
    <br>
 
    
    
    <h2>Modify Request</h2>
    <br>
        <br>
        <div class="card">
    <div >
<form #edit="ngForm">
    <br>
    UserId : {{empdetail.userId}}<br><br>
    LoginId : {{empdetail.loginId}}<br><br>
    Name : <input name="Name"  [(ngModel)]="empdetail.name"><br><br>
    <label>UserType : </label><select id="sel" [(ngModel)]='ngSelect'  name="sel" >
        <option name="EMPLOYEE" value="EMPLOYEE" selected>EMPLOYEE</option>
        <option name="MANAGER" value="MANAGER">MANAGER</option>
        <option name="TRAVEL_AGENT" value="TRAVEL_AGENT">TRAVEL_AGENT</option>



    </select><br><br>



    Manager UserId : <select ngModel name="manid">
        <option *ngFor="let f of role" value={{f}} >{{f}}</option>
            
    </select><br>
    <br>
    <a href="#" routerLink="/admin" (click)="updateclick(edit.value)">UPDATE</a><br>

<br>
</form> -->
<!-- <label>UserType</label><select id="sel" ngModel name="sel" ></select> -->